/* root vars */
:root {
  --white: #fff;
  --black: #123;
}

body {
  background-color: var(--black);
  color: var(--white);
}

/* main in Board.js */
main {
  width: 300px;
  margin: 50px auto 0;
}

div.board {
  display: flex;
  border: 2px solid var(--white);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

/* square in Square.js */
div.square {
  width: 100px;
  height: 100px;
  border: 2px solid var(--white);
  box-sizing: border-box;
}